<div class="container" ng-controller="FirstController">
	<h1>Page TWO</h1>
	<div class="col-lg-3">
	City:
	<br />
	<input type="text" ng-model="search.city" placeholder="Filter by city..."/>
	</div>
	<table class="table">
		<thead>
		  <tr>
			<th>Name</th>
			<th>City</th>
		  </tr>
		</thead>
		<tbody>
		  <tr class="animate" ng-repeat="friend in friends | filter:search:strict | orderBy:'city'">
			<td>{{ friend.name }}</td>
			<td>{{ friend.city }}</td>
		  </tr>
		</tbody>
    </table>
	<button onclick="goBack()" type="button" class="btn btn-sm btn-primary">< Go Back</button>
</div>